<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta name="acpt" content="{{signed_request}}">
    <title>{{title}}</title>

    <!--  AUI Core -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0-beta001/js/aui.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.0-beta001/css/aui.css" media="all">

    <!-- crap libraries that do not play nice -->
    <script src="//rawgit.com/flatiron/director/master/build/director.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

    <!-- AUI Experimental components -->
    <script src="//cdn.rawgit.com/jrburke/almond/0.3.0/almond.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.0-beta001/css/aui-experimental.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0-beta001/js/aui-experimental.js"></script>

    <!-- AUI Datepicker and Soy templates -->
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0-beta001/js/aui-datepicker.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0-beta001/js/aui-soy.js"></script>
    <!--<script src="../public/js/index.js"></script>-->

    <!-- Application style -->
    <link rel="stylesheet" href="{{furl '/css/index.css'}}" type="text/css"/>

<body class="aui-page-fixed">
<div class="ac-content addon">
    <shipstarter-router></shipstarter-router>
</div>
<!--footer scripts-->
<script>
    var ACPT = '{{signed_request}}';
</script>
<script src="{{hostScriptUrl}}"></script>
<script src="{{furl '/js/index.js'}}"></script>
</body>
</html>