.group {
    zoom: 1;
    // For IE 6/7 (trigger hasLayout)
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

shipstarter-project-list {
    display: block;
    position: relative;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

    .shipstarter-project-list-title {
        float: left;
        margin: 14px 0;
    }

    shipstarter-project-item {
        display: inline-block;
        width: 30%;
        padding-top: 15px;

        @radius: 4px;
        & > article {
            &:hover {
                .shipstarter-project-title {
                    background-color: #fff;
                    color: #333;
                }
                box-shadow: 0 0 15px rgba(0, 113, 255, 0.35);
                cursor: pointer;
            }
            box-shadow: 0 0 0 rgba(0, 113, 255, 0);
            transition: box-shadow 0.25s ease-out;
            border-radius: @radius;
        }

        .shipstarter-project-background {
            background-color: #72b2f6;
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale3d(1, 1, 1);
            transition: transform 0.5s ease-out;
        }
        .shipstarter-project-header {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: -2px;
            }
            border-radius: @radius @radius 0 0;
            height: 200px;
            padding: 15px;
            position: relative;
            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.4) 100%);
            }

            .shipstarter-project-title {
                @font-size: 20px;
                @line-height: 30px;

                font-size: @font-size;
                background-color: #50ade5;
                color: #fff;
                font-weight: bold;
                padding: 0.5rem 1rem;
                transition: background-color 0.5s ease, color 0.5s ease;

                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px;
                max-height: (@line-height * 3);
                overflow: hidden;
            }

            .shipstarter-project-founder-badge {
                background: url(../images/scott-mike.png) 50% 50% no-repeat;
                background-size: contain;
                border: 2px solid #f79231;
                border-radius: 100%;
                position: absolute;
                right: 20px;
                top: 20px;
                width: 64px;
                height: 64px;
            }
        }
        .shipstarter-project-subheader {
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            .group();

            &.funded {
                .shipstarter-project-time-left, .shipstarter-project-tasks-left, .shipstarter-project-percent-funded {
                    display: none;
                }
                &::before {
                    content: 'Fully funded';
                    text-align: center;
                    display: block;
                    font-weight: bold;
                    color: #fff;
                }
                background: #69AA4E;
            }
            padding: 10px 15px;
            background: #f5f5f5;
            .shipstarter-project-time-left {
                &.success {
                    color: #78b05d;
                }
                &.warning {
                    color: #f5a357;
                }
                &.danger {
                    color: #FA3A46;
                }
            }
            .pull-right {
                float: right;
            }
            .pull-left {
                float: left;
            }

            .shipstarter-project-tasks-left, .shipstarter-project-percent-funded {
                font-size: 12px;
                span {
                    margin-left: 3px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .shipstarter-project-percent-funded {
                margin-left: 7px;
            }
        }

        @border: 1px solid #e5e5e5;
        .shipstarter-project-body {
            height: 154px;
            position: relative;
            overflow: hidden;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 3em;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
            }
        }
        .shipstarter-project-body, .shipstarter-project-footer {
            padding: 10px 15px;
            border-left: @border;
            border-right: @border;
        }
        .shipstarter-project-footer {
            border-bottom: @border;
            border-radius: 0 0 @radius @radius;
            padding-bottom: 15px;

            .shipstarter-project-like-button {
                float: right;
            }
        }

    }
}

form.aui .aui-select2-container.shipstarter-select2-topics-filter {
    margin: 20px 0;
    max-width: none; /* AUI gives the select2 container a max-width for some reason */
    width: 100%;

    .select2-choices {
        padding-left: 75px;
    }

    &::before {
        content: 'Topics: ';
        position: absolute;
        z-index: 99999;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: #707070;
    }
}
