shipstarter-inline-edit form.aui {
	.text {
		max-width: none;
	}

	input.text {
		height: 30px;

    h2 & {
      height: 1.5em;
      width: 10em;
    }
	}

	textarea.text {
    min-height: 150px;
	}
}

shipstarter-content h2 {
	padding-bottom: 15px;
}

.shipstarter-breadcrumbs {
	padding-top: 10px;
}


.project-actions {
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    background: #fff;
    top: 0px;
    right: 0px;
}

#delete-button:hover {
    cursor: pointer;
}

.project-action-button[aria-hidden='true'] {
    display: none;
}

#topics-selector {
    font-style: italic;
    display: block;
    margin: 20px 0;
}

#topics-selector {

}
